<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>SmartCanvas Video Streamer</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Socket IO
  ================================================== -->
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"
    ></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>

  <body class="tos-bg">
    <div class="container" min-width="1024px" width="100%">
      <div class="dash-sub-title">
        <h1>SmartCanvas Video Streamer</h1>
        <h2>This demo preview is insecure and might leak the video feed</h2>
        <h2>Mind what is visible!</h2>
      </div>

      <div id="ui", style="margin-top: 100px;">
        <a id="idle_text_1", style="font-size: 20px; font-weight: bold;"></a><br>
        <a id="idle_text_2"></a>
        <a id="help_2"></a><a>    </a>
        <a id="filter_name"></a><br>
        <a id="help_1"></a>
        <br><a id="hold_timer"></a>
      </div>

      <div class="card-deck">

        <div class="card" id="clientCard">
          <div class="card-body">
            <h5 class="card-title">clientFeed</h5>
            <div style="width: 70%">
              <video id="clientFeed" width="640" height="480" autoplay></video>
            </div>
          </div>
        </div>

        <div class="card" id="canvasCard">
          <div class="card-body">
            <h5 class="card-title">canvas</h5>
            <div style="width: 70%">
              <canvas id="canvas" width="640" height="480"></canvas>
            </div>
          </div>
        </div>

        <div class="card" id="serverCard">
          <div class="container">
            <!--<h5 class="card-title">serverFeed</h5>-->
            <div id="serverFeedDiv" style="width: 100%">
              <canvas id="serverFeed" width="640" height="480"></canvas>
              <div id="hold_bar">
                <progress id="hold_progress" value="32" max="100"></progress>
              </div>
              <div id="countdown" style="visibility: hidden;">
                <a id="countdown_value">0</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


<script src="{{ url_for('static', filename='scripts.js') }}"></script>
