@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(45deg);
  }
}

@keyframes wave {
  0% {
    rotate: -30deg;
  }

  100% {
    rotate: 30deg;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.7);
  }

  100% {
    transform: scale(2.5);
  }
}

@keyframes pulse_for_hand_still {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1.6);
  }
}

@keyframes swipe {
  0% {
    translate: 100%;
    transform: rotateX(0deg);
  }

  40% {
    transform: rotateX(0deg);
  }

  60% {
    transform: rotateX(180deg);
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    translate: -100%;
    transform: rotateX(180deg);
  }
}

#two_fingers_icon {
  animation: 4.5s ease-in-out infinite swipe;
  rotate: 90deg;
  transform-origin: 50% 100%;
  margin-top: 90%;
}

#point_left {
  transform: scaleX(-1);
  rotate: -90deg;
  margin-right: 1%;
}

#point_right {
  rotate: 90deg;
  margin-left: 1%;
}

#hand {
  animation: 4s ease-in-out infinite wave;
  transform-origin: 50% 100%;
}

#hand_still {
  animation: 4s ease-in-out infinite pulse_for_hand_still;
  transform-origin: 50% 100%;
}