/* Component specific styligs */

.visible {
  display: block;
}

.hidden {
  display: none;
}

 .logo {
  height: 10em;
  padding: 1.5em;
}

.container_fs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  min-width: 1024px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.camera-feed-container {
  position: relative;
  width: 100vw; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-feed-container video,
.camera-feed-container canvas {
  width: 100vw;
  height: 100vh;
  object-fit: cover
}

.server-feed-container {
  position: relative;
  width: 100vw; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.server-feed-container canvas {
  width: 100vw;
  height: 100vh;
  object-fit: cover
}

.instructions {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  text-align: center;
  color: white;
  z-index: 10;
}

@property --progress {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}
@property --visible {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}

#progress-circle {
  transition: top 0.5s, right 0.5s, --progress 0.5s, visible 0.5s;
  position: absolute;
  right: var(--right);
  top: var(--top);
  width: 250px;
  height: 250px;
  transform: translateY(-250px);
  background: conic-gradient(
    purple var(--progress),
    rgba(255, 255, 255, 0.25) 0deg
  );
  z-index: 1;
  border-radius: 50%;
  opacity: var(--visible);
}

@property --qr-timeout {
  syntax: "<percentage>";
  initial-value: 100%;
  inherits: false;
}

@keyframes qr {
  0% {
    --qr-timeout: 100%;
  }
  100% {
    --qr-timeout: 0%;
  }
}

#qr-popup.dismissed {
  bottom: -100%;
}
#qr-popup.active {
  animation: qr 60s linear;
}
#qr-popup {
  transition: bottom 0.5s ease-in-out;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 3px;
  background: conic-gradient(
    rgb(112, 110, 189) max(0%, calc(var(--qr-timeout) - 1%)),
    rgb(255, 0, 0) var(--qr-timeout),
    rgb(0, 0, 0) 0deg
  );
  border-radius: calc(2em + 3px);
}

#qr-wrapper {
  border-radius: 2rem;
  padding: 2rem;
  width: 10rem;
  background-color: rgb(49, 49, 49);

  img {
    width: 100%;
  }
  #qr-code {
    aspect-ratio: 1/1;
  }
  #download-image {
    aspect-ratio: 16/9;
  }
}

