/* Component specific styligs */

.visible {
  display: block;
}

.hidden {
  display: none;
}

.logo {
  height: 10em;
  padding: 1.5em;
}

.container_fs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  min-width: 1024px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('../assets/canvas.jpg'); /* Path to your background image */
  background-size: cover; /* Scale the image to cover the container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
}

.camera-feed-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-feed-container video,
.camera-feed-container canvas {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
}

.server-feed-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.server-feed-container canvas {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.instructions {
  display: grid;
  grid-template-rows: 85vh 15vh; /* Divide into 2 rows */
  width: 100vw;
  height: 100vh;
  position: absolute; /* Position it on top of the container */
  top: 0;
  left: 0;
  pointer-events: none; /* Allow clicks to pass through */
  color: white;
  text-align: center;
  z-index: 10;
  background: transparent;
}

.full-container {
  grid-row: 1 / span 2; /* Make it span both rows */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent; /* Optional: Add a semi-transparent background */
  pointer-events: auto; /* Enable interaction */
}

.top-row {
  display: grid;
  grid-template-columns: 33vw 33vw 33vw; /* Divide into 3 columns */
  pointer-events: auto; /* Enable interaction for the columns */
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-row {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent; /* Optional: Add a semi-transparent background */
}

.big-text {
  font-size: 4em;
  font-weight: 500;
  margin: 0.5em;
}

@property --progress {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}
@property --visible {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}

#progress-circle {
  transition: 
    right 0.5s cubic-bezier(.47,1.64,.41,.8),
    top 0.5s cubic-bezier(.47,1.64,.41,.8),
    opacity 0.1s ease;
  position: absolute;
  right: calc(var(--right) - 100px);
  top: calc(var(--top) - 20%);
  z-index: 1;
  opacity: var(--visible);

  #progress-circle-bar {
    stroke-dashoffset: var(--strokeDashoffset);
    stroke-dasharray: var(--strokeDasharray);
    stroke: var(--progressColor);
    transition: all 0.5s linear;
    stroke-width: 16px;
    stroke-linecap: round;
    fill: transparent;
  }
}

@property --qr-timeout {
  syntax: "<percentage>";
  initial-value: 100%;
  inherits: false;
}

@keyframes qr {
  0% {
    --qr-timeout: 100%;
  }
  100% {
    --qr-timeout: 0%;
  }
}

#qr-popup.dismissed {
  bottom: -100%;
}
#qr-popup.active {
  animation: qr 60s linear;
}

#qr-popup {
  transition: bottom 0.5s ease-in-out;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 3px;
  background: conic-gradient(
    var(--color-highlight) max(0%, calc(var(--qr-timeout) - 1%)),
    var(--color-highlight-glow) var(--qr-timeout),
    rgb(0, 0, 0) 0deg
  );
  border-radius: calc(2em + 3px);
}

#qr-wrapper {
  border-radius: 2rem;
  padding: 2rem;
  width: 10rem;
  background-color: rgb(49, 49, 49);

  img {
    width: 100%;
  }
  #qr-code {
    aspect-ratio: 1/1;
  }
  #download-image {
    aspect-ratio: 16/9;
  }
}
