/* Component specific styligs */

 .logo {
  height: 10em;
  padding: 1.5em;
}

.container_fs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  min-width: 1024px;
  width: 100%;
  height: 100vh;
}

.camera-feed-container {
  position: relative;
  width: 1280px; /* Adjust to match the width of the CameraFeed */
  height: 720px; /* Adjust to match the height of the CameraFeed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-feed-container video,
.camera-feed-container canvas {
  width: 100%;
  height: 100%;
}

.instructions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: white;
  z-index: 10;
}
